# Dependencies
node_modules/

# Build outputs
dist/

# Environment variables
.env

# Testing
coverage/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json.example
!.vscode/extensions.json


# TypeScript
*.tsbuildinfo
